// Font Family
$open-sans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;


//  color
$primary-color: #FFB400;
$secondary-color: #FFFFFF;
$paragraph-color: #EEEEEE;
$background-color: #111111;
$blog-card-color: #252525;
$heading-1-color: rgba(255, 255, 255, 0.07);

//Font sizes
$heading-1-size: 110px;
$heading-2-size: 56px;
$heading-3-size: 50px;
$heading-4-size: 45px;
$heading-5-size: 26px;
$heading-6-size: 22px;
$heading-7-size: 18px;
$paragraph-1-size: 16px;
$paragraph-2-size: 15px;


//font weight
$heading-1-weight: 800;
$heading-2-weight: 900;
$heading-3-weight: 700;
$heading-4-weight: 700;
$heading-5-weight: 600;
$heading-6-weight: 400;
$heading-7-weight: 600;
$paragraph-1-weight: 500;
$paragraph-2-weight: 600;




