form{

    .contact-form{

        input{
            width: 100%;
            padding: 11px 26px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            border: 1px solid #111;
            outline: none;
            background: #252525;
            margin-bottom: 30px;
            
            &::placeholder{

                color: #fff;
                opacity: 0.4;
                font-weight: 200;
                
            }
            &:focus{
                border: 1px solid $primary-color;
            }

        }

        textarea{
            width: 100%;
            padding: 11px 26px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            border: 1px solid #111;
            outline: none;
            background: #252525;
            margin-bottom: 30px;
            height: 160px;
            
            &::placeholder{

                color: #fff;
                opacity: 0.4;
                font-weight: 400;
                
            }
            &:focus{
                border: 1px solid $primary-color;
            }

        }
    }
}